h1{
	text-align: center;
}



.d3-tip {
  line-height: 5;
  font-weight: bold;
  padding: 12px;
  font-size: 25px;
  color:black;
  border-radius: 5px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
  opacity: .4;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: red;
}